<div class="login-container" *transloco="let t">
  <mat-card>
    <mat-card-header class="login-header">
      <mat-card-title>{{ t('LOGIN.TITLE') }}</mat-card-title>

      <button mat-icon-button [matMenuTriggerFor]="langMenu" aria-label="Sprache wechseln">
        <mat-icon>language</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item (click)="switchLanguage('de')">
          <span>🇩🇪 DE</span>
        </button>
        <button mat-menu-item (click)="switchLanguage('en')">
          <span>🇬🇧 EN</span>
        </button>
      </mat-menu>
    </mat-card-header>

    <mat-card-content>
      @if (!requires2FA()) {
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('LOGIN.EMAIL_LABEL') }}</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('LOGIN.PASSWORD_LABEL') }}</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>

        @if (errorMessage()) {
        <div class="error-msg">{{ errorMessage() }}</div>
        }

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid || isLoading()"
          class="full-width"
        >
          @if(isLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
          } @else { {{ t('LOGIN.LOGIN_BTN') }} }
        </button>
      </form>

      <div class="register-link-container">
        <a routerLink="/register" class="link-text"> {{ t('LOGIN.REGISTER_LINK') }} </a>
      </div>
      } @if (requires2FA()) {
      <div class="step-2fa">
        <div class="msg">{{ t('SHARED.2FA.ENTER_CODE_MSG') }}</div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('SHARED.2FA.LABEL_CODE') }}</mat-label>
          <input matInput [formControl]="codeControl" maxlength="6" />
        </mat-form-field>

        @if (errorMessage()) {
        <div class="error-msg">{{ errorMessage() }}</div>
        }

        <button
          mat-flat-button
          color="primary"
          (click)="onCodeSubmit()"
          [disabled]="codeControl.invalid || isLoading()"
          class="full-width"
        >
          @if(isLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
          } @else { {{ t('SHARED.2FA.BTN_CONFIRM') }} }
        </button>

        <button mat-button (click)="cancel2FA()" class="full-width cancel-btn">
          {{ t('SHARED.2FA.BTN_CANCEL') }}
        </button>
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>
