.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

mat-card {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

/* NEU: Flex-Layout für den Header */
.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Optional etwas Abstand zum Content */
}

/* Sicherstellen, dass der Title nicht umbricht, wenn möglich */
mat-card-title {
  font-size: 1.5rem; /* Oder Standard lassen */
}

.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.error-msg {
  color: #f44336;
  margin-bottom: 10px;
  font-size: 0.9em;
}
.success-msg {
  color: green;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.msg {
  margin-bottom: 15px;
  font-weight: 500;
}

.register-link-container {
  margin-top: 15px;
  text-align: center;
}

.link-text {
  text-decoration: none;
  color: var(--mat-sys-primary);
  font-weight: 500;
}

.cancel-btn {
  margin-top: 8px;
}
