<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Neuen Account erstellen</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Vollständiger Name</mat-label>
          <input matInput formControlName="name" placeholder="Max Mustermann" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Passwort</mat-label>
          <input matInput formControlName="password" type="password" />

          @if (regForm.get('password')?.hasError('minlength')) {
          <mat-error>Mindestens 8 Zeichen</mat-error>
          }
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Passwort bestätigen</mat-label>
          <input matInput formControlName="confirmPassword" type="password" />

          @if (regForm.hasError('mismatch')) {
          <mat-error>Passwörter stimmen nicht überein</mat-error>
          }
        </mat-form-field>

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="regForm.invalid || isLoading()"
          class="full-width"
        >
          @if(isLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
          } @else { Registrieren }
        </button>

        <div class="login-link-container">
          <a routerLink="/login" mat-button>Bereits einen Account? Login</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
