<ng-container *transloco="let t">
  <h2 mat-dialog-title>{{ t('CHANGE_PW.TITLE') }}</h2>

  <mat-dialog-content>
    @if (isForced) {
    <p class="warn-text" style="color: var(--mat-sys-error); margin-bottom: 16px">
      {{ t('CHANGE_PW.FORCED_MSG') }}
    </p>
    }

    <br />
    <form [formGroup]="pwForm" (ngSubmit)="onSubmit()" class="pw-form">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('CHANGE_PW.LABEL_NEW') }}</mat-label>
        <input matInput formControlName="password" type="password" />

        @if (pwForm.get('password')?.hasError('required')) {
        <mat-error>{{ t('CHANGE_PW.ERR_REQUIRED') }}</mat-error>
        } @if (pwForm.get('password')?.hasError('minlength')) {
        <mat-error>{{ t('CHANGE_PW.ERR_MIN8') }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{ t('CHANGE_PW.LABEL_CONFIRM') }}</mat-label>
        <input matInput formControlName="confirmPassword" type="password" />

        @if (pwForm.hasError('mismatch')) {
        <mat-error>{{ t('CHANGE_PW.ERR_MISMATCH') }}</mat-error>
        }
      </mat-form-field>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    @if (!isForced) {
    <button mat-button (click)="onCancel()">{{ t('BTN.CANCEL') }}</button>
    }

    <button
      mat-flat-button
      color="primary"
      (click)="onSubmit()"
      [disabled]="pwForm.invalid || isLoading()"
    >
      @if(isLoading()) {
      {{ t('CHANGE_PW.BTN_SAVE') }}
      } @else {
      {{ t('CHANGE_PW.BTN_CHANGE') }}
      }
    </button>
  </mat-dialog-actions>
</ng-container>
