.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #333;
}
mat-card {
  width: 350px;
}
.full-width {
  width: 100%;
  margin-bottom: 10px;
}
.error {
  color: red;
}
