<div class="login-container" *transloco="let t">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t('ADMIN.LOGIN.TITLE') }}</mat-card-title>
    </mat-card-header>

    <br />

    <mat-card-content>
      @if (!requires2FA()) {
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('ADMIN.LOGIN.EMAIL') }}</mat-label>
          <input matInput formControlName="email" type="email" />
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('ADMIN.LOGIN.PASSWORD') }}</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>

        @if (errorMessage()) {
        <div class="error-msg">{{ errorMessage() }}</div>
        }

        <button
          mat-flat-button
          color="primary"
          type="submit"
          [disabled]="loginForm.invalid || isLoading()"
          class="full-width"
        >
          @if(isLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
          } @else { {{ t('ADMIN.LOGIN.BTN_LOGIN') }} }
        </button>
      </form>
      } @if (requires2FA()) {
      <div class="step-2fa">
        <div class="msg">{{ t('ADMIN.LOGIN.MSG_2FA') }}</div>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>{{ t('ADMIN.LOGIN.LABEL_CODE') }}</mat-label>
          <input matInput [formControl]="codeControl" maxlength="6" />
        </mat-form-field>

        @if (errorMessage()) {
        <div class="error-msg">{{ errorMessage() }}</div>
        }

        <button
          mat-flat-button
          color="primary"
          (click)="onCodeSubmit()"
          [disabled]="codeControl.invalid || isLoading()"
          class="full-width"
        >
          @if(isLoading()) {
          <mat-spinner diameter="20"></mat-spinner>
          } @else { {{ t('ADMIN.LOGIN.BTN_CONFIRM') }} }
        </button>

        <button mat-button (click)="cancel2FA()" class="full-width" style="margin-top: 8px">
          {{ t('ADMIN.LOGIN.BTN_CANCEL') }}
        </button>
      </div>
      }
    </mat-card-content>
  </mat-card>
</div>
