.content-wrapper {
  padding: 24px;
}

.table-select-field {
  width: 100%;
  min-width: 150px;
  margin-top: 10px;
}

/* Chips für Admin-Rollen */
.global-admin-chip {
  background-color: var(--mat-sys-primary-container) !important;
  color: var(--mat-sys-on-primary-container) !important;
}

.local-admin-chip {
  background-color: #e0e0e0 !important;
}

.mat-column-isAdmin {
  width: 180px;
}

.mat-column-actions {
  width: 120px;
}
